html,
body {
	height: 100%;
	background: rgb(164, 197, 240);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#register-box{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 280px;
	background: rgb(228, 230, 167);
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid #999;
	border-radius: 4px;
}
input{
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 36px;
	line-height: 34px;
	outline: none;
	border: 1px solid rgb(115, 180, 18);
	margin-top: 24px;
	padding-left: 15px;
	font-size: 14px;
	border-radius: 4px;
}
#register-btn{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin:0 auto;
	background: rgb(143, 238, 20);
	margin-top: 40px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	user-select: none;
}
.dialog{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
	z-index: 100;
	position: absolute;
	top:0;
	left: 0;
	display: none;
}
#tip{
	position: absolute;
	width: 400px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: red;
	background: #fff;
	left: 50%;
	top:50%;
	transform: translateX(-50%) translateY(-75%);
	border-radius: 4px;
	user-select: none;
}