{% extends '../layout.html' %}
{% block style %}
	<link rel="stylesheet" href="css/login.css">
{% endblock %}
{% block body %}
	<div id="s-body">
		<div class="login-box">
			<input type="text" id="username" placeholder="USERNAME" autofocus="autofocus">
			<input type="password" id="password" placeholder="PASSWORD" maxlength="20">
			<div id="tip"></div>
			<div id="login-btn">Login</div>
			<div id="to-register">sign in</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script>
		//首先判断浏览器屏幕的宽度
		(()=>{
			let backGroundCalc = () => {
				let body = $('body');
				let screenWidth = body.width();
				let screenHeight = body.height();
				let sBody = $('#s-body');
				//如果screenWidth大于等于1800则把sBody的宽度设置为1800
				if(screenWidth >= 1800){
					sBody.css('width','1800px');
				}
				sBody.css('height',screenHeight + 'px');
				sBody.css('background-image','url(../images/timg.jpeg)');
				//设置sBody的背景位置
				let posX = -(1800 - screenWidth) / 2 + 'px';
				sBody.css('background-position-x',posX);
				let posY = -(1800 - screenHeight) / 2 - 40 + 'px';
				sBody.css('background-position-y',posY);
			}
			window.onresize = () => {
				backGroundCalc();
			}
			$(document).ready(()=>{
				backGroundCalc();
			});
			//点击按钮登录
			$('#login-btn').on('click',() => {
				let username = $('#username').val();
				let password = $('#password').val();
				if(!username){
					$('#tip').html('请输入用户名');
					setTimeout(()=>{$('#tip').html('')},500);
					return;
				}
				if(!password){
					$('#tip').html('请输入密码');
					setTimeout(()=>{$('#tip').html('')},500);
					return;
				}
				$.ajax({
					type: 'POST',
					url: config.host + '/toLogin',
					data: {username,password},
					success: function(data){
						if(data.success){
							alert('进入页面');
						} else if(!data.success){
							$('#tip').html(data.msg);
							setTimeout(()=>{$('#tip').html('')},500);
						}
					},
					error:function(err){
						console.log(err);
					}
				});
			});

			$('#to-register').on('click',()=>{
				window.location.href = './register';
			})
		})();
	</script>
{% endblock %}
