{% extends '../layout.html' %}
{% block style %}
	<link rel="stylesheet" href="css/register.css">
{% endblock %}
{% block body %}
	<div id="register-box">
			<input type="text" id="username" placeholder="请输入用户名">
			<input type="password" id="password" placeholder="请输入密码" maxlength="20">
			<input type="password" id="password1" placeholder="请确认密码" maxlength="20">
			<div id="tip"></div>
			<div id="register-btn">注册</div>
	</div>
{% endblock %}
{% block script %}
	<script>
		//首先判断浏览器屏幕的宽度
		(()=>{
			
		})();
	</script>
{% endblock %}
